*__pycache__*
onboard/src/
onboard/src_client/
onboard/env/
onboard/PyPupilEXT-0.0.1-cp310-cp310-win_amd64.whl
onboard/.python-version
onboard/pypupilext/

remote/env/
remote/etc/
remote/env2/
remote/*__pycache__*

initial_experiments/env/
initial_experiments/research/
initial_experiments/etc/
initial_experiments/data/
initial_experiments/app/EyeTracker/EyeTracker/bin*
initial_experiments/app/EyeTracker/EyeTracker/data
initial_experiments/app/EyeTracker/EyeTracker/obj
initial_experiments/app/EyeTracker/EyeTracker/Properties
initial_experiments/app/EyeTracker/EyeTracker/.vs
initial_experiments/app/opencv
initial_experiments/app/EyeTrackerPython